{% extends "base.html" %}
{% block title %} {{ block.super }} - Advanced Rebalancing{% endblock %}
{% block content %}
{% load humanize %}
<div class="w3-container w3-padding-small">
  <h2>Advanced Rebalancing</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Source</th>
      <th>Channel</th>
      <th>Capacity</th>
      <th>Limit PPM</th>
      <th>PPM Diff</th>
      <th>Out Target</th>
      <th>Targets</th>
    </tr>
    {% for entry in sources %}
    <tr>
      <td class="w3-center" style="vertical-align:middle">
        <form action="/update_channel/" method="post" class="w3-center">
          {% csrf_token %}
          <input type="hidden" name="chan_id" value="{{ entry.channel.chan_id }}" />
          <input type="hidden" name="update_target" value="14" />
          <input type="hidden" name="target" value="0" />
          <input type="submit" value="{% if entry.channel.ar_source %}Disable{% else %}Enable{% endif %}" class="w3-button {% if entry.channel.ar_source %}w3-green{% else %}w3-red{% endif %}" />
        </form>
      </td>
      <td class="w3-center" style="vertical-align:middle" title="{{ entry.channel.remote_pubkey }}"><a href="/channel?={{ entry.channel.chan_id }}" target="_blank">{{ entry.channel.alias|default:entry.channel.remote_pubkey }} ({{ entry.channel.local_fee_rate }})</a></td>
      <td class="w3-center" style="vertical-align:middle;width:120px">
        <label>{{ entry.channel.capacity|intcomma }}</label>
        <div class="progress w3-round w3-grey">
          <span class="value w3-round w3-blue" style="width:{{ entry.out_percent|default:"0" }}%"></span>
        </div>
      </td>
      <td class="w3-center" style="vertical-align:middle">{{ entry.limit }}</td>
        <td class="w3-center" style="vertical-align:middle">
          <form action="/update_channel/" method="post" class="w3-center">
            {% csrf_token %}
            <input type="number" name="target" value="{{ entry.channel.ar_source_ppm_diff }}" style="text-align:center;width:80px" />
            <input type="hidden" name="chan_id" value="{{ entry.channel.chan_id }}" />
            <input type="hidden" name="update_target" value="15" />
            <input type="submit" value="Save" />
          </form>
        </td>
        <td class="w3-center" style="vertical-align:middle;{% if entry.channel.ar_source %}background-color: rgba(46,160,67,0.15){% else %}background-color: rgba(248,81,73,0.15){% endif %}">
          <form action="/update_channel/" method="post" class="w3-center">
            {% csrf_token %}
            <input type="number" name="target" value="{{ entry.channel.ar_out_target }}" style="text-align:center;width:80px" min="1" max="100" />
            <input type="hidden" name="chan_id" value="{{ entry.channel.chan_id }}" />
            <input type="hidden" name="update_target" value="4" />
            <input type="submit" value="Save" />
          </form>
        </td>
        <td class="w3-center" style="vertical-align:middle">
        <form action="/advanced_rebalancing" method="post" class="w3-center" style="display:flex;align-items:center;justify-content:center">
          {% csrf_token %}
          <input type="hidden" name="source_chan_id" value="{{ entry.channel.chan_id }}" />
          <input type="hidden" name="value" value="{{ entry.channel.ar_amt_target }}" />
          <input type="hidden" name="fee_limit" value="0" />
          <input type="hidden" name="duration" value="1" />
          <select multiple name="targets" size="5" style="width:260px;margin-right:8px;display:block">
            {% for t in entry.targets %}
            <option value="{{ t.obj.remote_pubkey }}" {% if t.allowed %}selected{% endif %}>{{ t.obj.alias|default:t.obj.remote_pubkey }} ({{ t.obj.local_fee_rate }})</option>
            {% endfor %}
          </select>
          <div style="display:flex;flex-direction:column;">
            <input type="submit" name="action" value="Rebalance" style="margin-bottom:4px" />
            <input type="submit" name="action" value="Save Targets" />
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
